
<div class="login-page">
  <div class="form">

    <form ngNativeValidate (ngSubmit)="cadastrar()"  class="login-form">
       <input required [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" placeholder="Nome"/>
       <input required minlength="11" maxlength="14" [(ngModel)]="cpf" [ngModelOptions]="{standalone: true}" type="text" placeholder="Cpf"/>
       <input required [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" placeholder="email"/>
       <input required [(ngModel)]="telefone" [ngModelOptions]="{standalone: true}" type="tel" placeholder="Telefone"/>
       <select required [(ngModel)]="sexo"  [ngModelOptions]="{standalone: true}">
         <option value="Masculino">Masculino</option>
         <option value="Feminino">Feminino</option>

       </select>

       <input required [(ngModel)]="data_nascimento" [ngModelOptions]="{standalone: true}" type="date" placeholder="Data Nascimento"/>
       <button type="submit">Cadastrar</button>
    </form>

  </div>
</div>
